@import '~antd/dist/antd.css';

.SearchBar {
    position: relative;
    width: 100%;
    margin-right: 15;
}

.RandomButton {
    max-width: 30%;
    width: 120px;
    margin-right: 10px;
    font-size: 100%;
    overflow: hidden;
}

.Dropdown {
    position: absolute;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius:  10px;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 100;
}

.DropdownEntry {
    color: gray;
    text-indent: 4px;
    padding: 1px;
}

.DropdownEntry:hover {
    color: black;
    background-color: rgb(249, 249, 249);
}

.Content {
    width: 100%;
    background-color: whitesmoke;
}

.Top {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.Footer {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App {
    background-color: whitesmoke;
    min-height: 100vh;
    min-width:  100vw;
}

.PageHeader {
    background-color: white;
    width: 100vw;
    padding-left: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

html {
    background-color: whitesmoke;
    width: 100vw;
}