@import '~antd/dist/antd.css';

.SearchBar {
    position: relative;
    width: "100%";
    margin-right: 15;
}

.Dropdown {
    position: absolute;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius:  10px;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 100;
}

.DropdownEntry {
    color: gray;
    text-indent: 4px;
    padding: 1px;
}

.DropdownEntry:hover {
    color: black;
    background-color: rgb(249, 249, 249);
}

.Content {
    width: 100vw;
    background-color: whitesmoke;
}

.Top {
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
}